<div class="row">
    <div class="sidenav bg-light border-right" ng-show="$ctrl.showMenu">
        <div class="sidebar-heading">
            <h3>Список корпусов</h3>
        </div>

        <div class="list-group list-group-flush" ng-repeat="corpse in $ctrl.corpses">
            <a href="#!/corpses/{{corpse.alias}}" class="list-group-item list-group-item-action bg-light">
                <div class="d-flex x-100 justify-content-between">
                    <h6 class="mb-1">{{corpse.name}}</h6>
                </div>
                <div ng-repeat="place in corpse.places">
                    <label class="md-1">{{place.code}} ({{place.count}})</label>
                </div>
            </a>
        </div>
    </div>

    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.showMenu = !$ctrl.showMenu">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand text-white">{{$ctrl.corpse.name}}</a>
        </nav>

        <nav class="shadow navbar navbar-expand-lg navbar-light bg-light">
            <select class="browser-default custom-select"
                    ng-model="$ctrl.selectedPlace"
                    ng-options="place.code for place in $ctrl.places">
                <option value="" selected>Все</option>
            </select>

            <select class="browser-default custom-select"
                    ng-model="$ctrl.selectedAudience"
                    ng-options="audience.name for audience in $ctrl.audiences | filter: $ctrl.audienceBelongsPlace">
                <option value="" selected>Все</option>
            </select>
        </nav>

        <div class="row justify-content-md-center">
            <div class="col-md-5">

                <table class="table table-hover">
                    <thead>
                    <tr class="align-middle">
                        <th ng-click="$ctrl.sortBy(['firstName', 'lastName', 'parentName'])">
                            Абитуриент
                            <i class="fas fa-arrow-up" ng-show="$ctrl.orderProperty.includes('firstName')" ng-class="{reverse: $ctrl.reverseSort}"></i>
                        </th>
                        <th ng-click="$ctrl.sortBy(['audience', 'place'])">
                            Аудитория
                            <i class="fas fa-arrow-up" ng-show="$ctrl.orderProperty.includes('audience')" ng-class="{reverse: $ctrl.reverseSort}"></i>
                        </th>
                        <th>Информация</th>
                    </tr>
                    </thead>

                    <tbody ng-repeat="student in $ctrl.students |
                    filter: $ctrl.studentBelongsPlace | filter: $ctrl.studentBelongsAudience |
                    orderBy: $ctrl.orderProperty : $ctrl.reverseSort">
                    <tr ng-click="$ctrl.expandInfo($index)">
                        <td class="align-middle">{{student.firstName}} {{student.lastName}} {{student.parentName}}</td>
                        <td class="align-middle">
                            <div class="row">
                                <small>{{$ctrl.dictionary.audiences[student.audience]}}</small>
                            </div>
                            <div class="row">
                                <small>{{$ctrl.dictionary.places[student.place].code}}</small>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-show="$ctrl.isExpanded($index)">
                        <td colspan="2">
                            <div class="row">Профиль: {{$ctrl.dictionary.profiles[student.profile]}}</div>
                            <div class="row">Телефон: {{student.phone}}</div>
                            <div class="row">E-mail: {{student.email}}</div>
                            <div class="row">
                                <button type="button" class="btn btn-info">
                                    <i class="fas fa-user-circle"></i>
                                    Справка
                                </button>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <i class="far fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>