html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
}

.navigation {
    background-color: aliceblue;
    overflow: hidden;
}

.navigationReference {
    float: left;
    display: block;
    text-align: center;
    color: dimgrey;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationReference:hover {
    color: black;
}

.navigationReference.active {
    color:black;
}

.row {
    display: flex;
    margin: 1% 15% 1% 15%;
}

.roundedControl {
    font-size: inherit;
    margin: 2px;
    border-radius: 5px;
}

.roundedControl.roundedButton {
    height: 40px;
    border: none;
    background-color: dodgerblue;
    color: white;
}

.roundedControl.roundedButton:hover {
    background-color: royalblue;
}

.roundedControl.roundedButton.save {
    background-color: seagreen;
}

.roundedControl.roundedButton.save:hover {
    background-color: darkgreen;
}

.righted {
    margin-left: auto;
}

.invisibleTable {
    width: 100%;
    table-layout: fixed;
}

.roundedControl.roundedSelect {
    height: 40px;
    padding: 5px;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    width: 100%;
}

.roundedControl.roundedInput {
    height: 36px;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    width: 98%;
}

.stick {
    position: sticky;
}

.search {
    padding-bottom: 0.5%;
    background-color: white;
    top: 0;
}

.linedTable {
    top: 9.3%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
}

.linedTable th, td {
    padding-left: 10px;
}

.linedTableRow {
    border-top: thin lightgray solid;
    line-height: 250%;
}

.linedTableRow:hover {
    background-color: aliceblue;
}

.linedTableHeader {
    text-align: start;
    border-top: thin lightgray solid;
    line-height: 250%;
}

.wide {
    width: 65%;
}

.narrow {
    width: 35%;
}

.small {
    width: 25%;
}

.extraSmall {
    width: 10%;
}

.img {
    vertical-align: middle;
}

.img.flag {
    width: 30px;
    border: 1px solid black;
}

.img.arrow {
    width: 16px;
    border: none;
}

.img.hide {
    visibility: hidden;
}

.linedTableHeader.ascending > *, .linedTableHeader.descending > * {
    visibility: visible;
}

.linedTableHeader.descending > * {
    transform: rotate(180deg);
}