/* app css stylesheet */

html, body {
  height: 100%;
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-heading {
  width: inherit;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
}

.sidenav a {
  color: #000 !important;
  text-decoration: none;
}

.navbar-brand {
  margin-left: 1%;
}

.custom-select {
  margin: 0.3%;
}

.row {
  padding-left: inherit;
  padding-top: inherit;
}

.fa-arrow-up.reverse {
  transform: rotate(180deg);
}